/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --black: #000;
  --white: #fff;
  --highlight: #deff4d;

  /* Brand Colors */
  --blue: #0C62FB;
  --cyan: #1be1f2;
  --coral: #ff4d5f;
  --purple: #c7b9ff;
  --chartreuse: #deff4d;

  /* Primary Color Ramp */
  --primary-100: #b6d0fe;
  --primary-200: #6da1fd;
  --primary-250: #2472FB;
  --primary-300: $blue;
  --primary-400: #0A4EC9;
  --primary-500: #002FAF;
  --primary-dark: #0F1C41;
  --primary-darkest: #000A25;

  /* fonts */
  --body-font-family: 'Slalom Sans', slalom-sans-fallback, sans-serif;
  --heading-font-family: 'Slalom Sans', slalom-sans-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 2.875rem;
  --heading-font-size-xl: 2.5rem;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 120px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 4rem;
    --heading-font-size-xl: 3.75rem;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 300;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
  font-family: Lora, serif;
  font-style: italic;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-flex;
  max-width: 100%;
  margin: 0;
  border: 2px solid var(--blue);
  border-radius: 3.125rem;
  padding: 0 1.5rem;
  height: 3rem;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  transition: .2s;
}

a.button:any-link .icon,
button .icon {
  padding-left: .5rem;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: transparent;
  border-color: var(--white);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1720px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.hero-container {
  margin-bottom: 0;
  border-bottom: 6px solid;
  border-image: linear-gradient(90deg, #0c62fb, #0c62fb 20%, #1be1f2 0, #1be1f2 40%, #ff4d5f 0, #ff4d5f 60%, #c7b9ff 0, #c7b9ff 80%, #deff4d 0, #deff4d) 1;
}

main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.dark {
  background-color: var(--primary-darkest);
  margin: 0;
  padding: 40px 0;
}

.element-icons ul {
  margin: 3rem 0;
  padding: 0;
  list-style: none;
  columns: 1;
}

.element-icons ul li {
  display: block;
  height: 3rem;
  padding: .5rem 0;
}

.element-icons ul li a {
  display: inline-flex;
  height: 3rem;
  align-items: center;
  background-color: var(--primary-dark);
  padding-right: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.element-icons ul li .icon {
  display: flex;
  flex: 0 0 auto;
  width: 3rem;
  height: 3rem;
  padding-right: 1.5rem;
}

.element-icons ul li .icon img {
  max-width: none;
  display: block;
}

@media (width >= 768px) {
  .element-icons ul {
    columns: 2;
  }

  .element-icons ul li,
  .element-icons ul li a {
    height: 4rem;
  }

  .element-icons ul li .icon {
    width: 4rem;
    height: 4rem;
  }
}

@media (width >= 1200px) {
  .element-icons ul {
    columns: 3;
  }
}